.container {
  display: grid;
  grid-template-rows: 1fr 3fr;
}

.header {
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  grid-template-rows: max-content 1fr repeat(2, min-content);
}

.app {
  display: grid;
  grid-template-columns: 0.5fr repeat(2, 1fr) 0.5fr;
  grid-template-rows: 1fr;

  @include respond(tab-port-2) {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 6rem;
  }
  @include respond(small-phone) {
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.5fr max-content;
  }
}
